{% extends 'base.html' %}

{% block title %} input data {% endblock%}

{% block header %} Add New Data {% endblock %}

{% block body %}
    <a href="{{ url_for('index') }}" class="btn btn-primary">BackHome</a>
    <div class="card-body">
        <form action="{{ url_for('input_data') }}" method="POST">
        
            <div class="form-group">
                <label for="name">Name:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input type="text" id="name" class="form-control" placeholder="Input Book Name" name="name">
                </div>
            </div>

            <div class="form-group">
                <label for="author">Author:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input type="author" id="author" class="form-control" placeholder="Input Author Name" name="author">
                </div>
            </div>

            <div class="form-group">
                <label for="genre">Genre:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input type="genre" id="genre" class="form-control" placeholder="Input Genre" name="genre">
                </div>
            </div>

            <div class="form-group">
                <label for="year">Year of Publish:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input type="year" id="year" class="form-control" placeholder="Input Year of Publish" name="year">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm" name="submit">Submit</button>
                <button type="reset" class="btn btn-danger btn-sm">Cancel</button>
            </div>

        </form>
    </div>    
{% endblock%}